@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&family=Pretendard:wght@400;500;600&display=swap');



body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background: #f8f6f3;
  color: #2f2722;
}

/* .main-img {width: 100%; height: auto; overflow: hidden; }
.main-img img {width: 100%; height: 100%; object-fit: cover;position: relative; z-index: 0; filter: brightness(70%);} */

.main-img {
  width: 100%;
  height: 100%; /* 원하는 높이 값 지정 */
  overflow: hidden;
}

.main-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.main-img img.active {
  opacity: 1;
}


.out-text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; text-align: center; color: #dfdfdf; }
.out-text h3 {font-family: 'Noto Serif KR'; font-weight: 700; font-size: 24px; line-height: 2em; text-shadow: 2px 2px 4px rgba(0,0,0,0.5); }
.out-text h3 > span {font-size: 48px; color: rgb(194, 126, 81); font-weight: 800;}

.main-box {margin-top: 100px; }
.main-box ul {display: inline-flex; gap: 20px; }
.main-box ul li {width: 200px; height: 200px; background-color: rgba(0,0,0,0.5); border: 2px solid #fff;  display: flex; align-items: center; justify-content: center; }
.main-box ul li > a {width: 100%; height: 100%; display: flex; align-items: center; flex-direction: column; justify-content: center; color: #fff; text-decoration: none; vertical-align: top; }
.main-box ul li > a > span {font-size: 48px; display: flex; align-items: center; margin-bottom: 20px; }

.main-box ul li:hover {background-color: rgba(0,0,0,0.7); border: 2px solid rgb(194, 126, 81); box-shadow: 0 4px 8px rgba(0,0,0,0.3); transition: all 0.3s ease; }




/* =========================
   모바일 반응형 (max-width: 768px)
========================= */
@media (max-width: 768px) {

  .out-text {
    width: 90%;
    top: 45%;
    transform: translate(-50%, -45%);
  }

  .out-text h3 {
    margin-top: 150px;
    font-size: 16px;
    line-height: 1.6em;
  }

  .out-text h3 > span {
    display: none;
    font-size: 28px;
    margin-top: 10px;
  }

  .main-box {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .main-box ul {
    flex-direction: column;
    gap: 15px;
  }

  .main-box ul li {
    /* width: 80%; */
    height: 120px;
    margin: 0 auto;
    /* border-radius: 12px; */
  }

  .main-box ul li > a > span {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .main-box ul li > a {
    font-size: 14px;
  }



  .main-img img {
    object-position: center;
  }
}
