<!-- Header CSS -->
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/header-desktop.css" media="(min-width: 1001px)">
<link rel="stylesheet" type="text/css" href="/css/header-mobile.css" media="(max-width: 1000px)">

<header id="header">
  <a class="logo" href="/index.html"><img src="/img/h_logo.png" alt="리카온로고"></a>
  <div class="open-btn">
    <span class="material-symbols-outlined">menu</span>
    <span class="material-symbols-outlined">close</span>
  </div>
  <div class="open-bg"></div>
  <nav class="gnb">
    <a class="logo" href="/index.html"><img src="/img/h_logo.png" alt="리카온로고"></a>
    <ul class="nav">
      <li class="main-menu">
        <a href="/subpage/intro.html">기업소개</a>
        <ul class="nav-sub">
          <li><a href="/subpage/intro.html">기업 연혁</a><br></li>
          <li><a href="/subpage/orgchart.html">조직도</a><br></li>
          <li><a href="/subpage/result.html">매출 실적</a><br></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="/subpage/work.html">손해사정</a>
        <ul class="nav-sub">
          <li><a href="/subpage/work.html">손해사정이란?</a><br></li>
          <li><a href="/subpage/work.html">주요 분야</a><br></li>
          <li><a href="/subpage/security.html">보안 시스템</a><br></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="/subpage/partner.html">파트너사</a>
        <ul class="nav-sub">
          <li><a href="/subpage/partner.html">보험사</a><br></li>
          <li><a href="/subpage/partner.html">공제사</a></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="/subpage/contact.html">문의하기</a>
        <ul class="nav-sub">
          <li><a href="/subpage/contact.html">문의하기</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="admin">
    <a href="http://recaon.co.kr/admin/bbs/bbs_list.asp?bbs_type=T_Company">관리자로그인</a>
  </div>
</header>
